@mixin gradient($gradient, $blur: 12px, $radius: 7px) {
    position: relative;
    z-index: 0;

    transition: all 0.1s;

    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        inset: -$radius;
        background: $gradient;
        filter: blur($blur);
        transition: all 0.1s;
    }
}