@use '../core/variables' as var;
@use "../core/shadows";
@use "../core/media-queries";

.about {

    &__section {

        &.section-1 {

        }

        &.section-2 {
            border-radius: 1rem;
            background-color: black;
        }

        &.section-3 {

        }
    }

    &__section__shadow {
        @include shadows.gradient(linear-gradient(300deg, #2486a4, #ce8058), 14px, 11px);
        margin: 5vh 2vw;
    }

}