@use '../core/media-queries';
@use '../core/shadows';

.contact {

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        height: calc(100vh - 15rem);
        background-color: black;
    }

    &__title {
        color: white;
        font-size: 3rem;
    }

    &__form {

        &__container {
            width: 100%;
            padding: 5rem 5rem 2rem 5rem;
            border-radius: 2rem;
            background-color: white;

        }

    }

    &__background {
        width: 80%;
        @include shadows.gradient(rgba(206,127,88,1));

        @include media-queries.mobile {
            width: 90%;
        }
    }

}

.form {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 100;

    &__input {

        display: flex;
        position: relative;
        flex-direction: column;
        gap: .2rem;

        &__container {
            position: relative;
        }

        label {
            position: absolute;
            top: -.8rem;
            left: 2rem;
            padding: 0 .2rem;
            background-color: white;
        }

        [type="text"],
        textarea {
            border: 1px solid black;
            border-radius: 1rem;
            padding: 2rem;
            font-weight: 100;

            &:focus {
                outline: none;
                -webkit-box-shadow: 0px 0 0 .15rem rgba(206,127,88,1);
                -moz-box-shadow: 0px 0 0 .15rem rgba(206,127,88,1);
                box-shadow: 0px 0 0 .15rem rgba(206,127,88,1);
            }
        }

        [type="text"] {
            height: 5rem;
        }

        textarea {
            resize: none;
        }

    }

    &__submit {

        width: fit-content;
        display: flex;
        justify-content: center;
        padding: 1rem 2rem;
        border: 1px solid black;
        border-radius: 5px;

        @include media-queries.mobile {
            width: 100%;
        }
        
        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: scale(0.95);
            background-color: rgb(238, 238, 238);
        }

        &__container {
            display: flex;
            justify-content: end;

            @include media-queries.mobile {
                justify-content: center;
            }
        }

    }

}