.dashboard__login form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
    height: 100vh;
    padding: 10rem;

    input {
        border: white 1px solid;
    }
}

.dashboard__page {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    gap: 1rem;
    height: 100vh;
}

.dashboard__navigation {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: auto;
    width: 100%;
    height: fit-content;
    padding: 5rem;
    button {
        height: 100%;
        width: 20rem;
        border: white 1px solid;
    }
}
