#error__page {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10rem;
    height: 100vh;
    padding: 10rem;
}

.error__team__logo {
    height: 40vh;
    width: fit-content;
}

.error__page__content {
    display: flex;
    flex-flow: column;

    h1 {
        font-size: 15rem;
        font-weight: bold;
    }

    p {
        font-size: 5rem;
        font-weight: 300;
    }
}

.error__page__link {
    font-size: 3rem;
    margin: 4rem;
    padding: 3rem 4rem;
    background: linear-gradient(
            90deg,
            #ce8058 0%,
            #2486a4 33%,
            #ce8058 66%,
            #ce8058
        )
        0% / 300%;
    width: fit-content;
    border-radius: 20px;
    transition: all 0.2s ease-out;

    &:hover {
        background: linear-gradient(
                90deg,
                #ce8058 0%,
                #2486a4 33%,
                #ce8058 66%,
                #ce8058
            )
            50% / 300%;
    }

    &:active {
        background: linear-gradient(
                90deg,
                #ce8058 0%,
                #2486a4 33%,
                #ce8058 66%,
                #ce8058
            )
            100% / 300%;
    }
}
