@use '../core/variables' as var;

.landing__section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    &.section-1 {
        background-image: url("#{var.$assets-dir}/backgrounds/landing-1.jpeg");
    }

    &.section-2 {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), 
        url("#{var.$assets-dir}/backgrounds/landing-2.jpeg");
    }

    &.section-3 {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), 
        url("#{var.$assets-dir}/backgrounds/landing-3.jpeg");
    }

    &.section-4 {
        height: fit-content;
        position: relative;
    }

    &.section-5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), 
        url("#{var.$assets-dir}/backgrounds/landing-5.jpeg");
    }

    &.section-6 {
        display: flex;
        flex-direction: column;
        background-color: black;
        position: relative;
        overflow: hidden;
    }

    &.section-7 {
        display: flex;
        flex-direction: column;
        background-color: black;
        position: relative;
        overflow: hidden;
    }

    &.section-8 {
        height: 70vh;
    }
}

.landing__titled-text-box {
    
    &-1 {
        position: absolute;
        top: 20%;
        right: 12rem;
    }

    &-2 {
        position: absolute;
        top: 20%;
        left: 12rem;
    }

}

.what-is-hyperloop__title {
    font-size: 6rem;
    color: white;
    position: absolute;
    top: 8rem;
    left: 12rem;
}

.what-is-hyperloop__text {
    width: 75%;
    transform: translateX(16%);
    border-radius: 1rem;
    position: absolute;
    bottom: 5rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0.8);;
    color: rgb(0, 0, 0);
    text-align: center;
}

.kenos {

    &__container {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    &__render {

        &__container {
            width: 50%;
            z-index: 5;
            position: relative;

            &:hover {
                .img-normal {
                  opacity: 0;
                }
            
                .img-hover {
                  opacity: 1;
                }
            }

        }

        &__content {
            width: 100%;
            margin: 0 auto;
            position: relative;
            transition: opacity .3s ease-in-out;

            &.img-normal {
                opacity: 1;
            }

            &.img-hover {
                width: 95%;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
            }

        }

    }

}

.atlas {

    &__container {
        height: 100vh;
        display: flex;
    }

    &__render {

        &__container {
            width: 50%;
            z-index: 5;
            position: relative;

            &:hover {
                .img-normal {
                  opacity: 0;
                }
            
                .img-hover {
                  opacity: 1;
                }
            }
        }

        &__content {
            width: 90%;
            position: absolute;
            top: 0;
            right: 0;
            transition: opacity .3s ease-in-out;

            &.img-normal {
                opacity: 1;
            }

            &.img-hover {
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
            }

        }
    }

}

.prototype {

    &__text {

        &__container {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
    
            &.prototype__kenos {
                padding-left: 2rem;
            }
    
            &.prototype__atlas {
                padding-right: 2rem;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: .8rem;
            max-width: 55rem;
            text-align: justify;
        }

        &__title {
            margin: 0 auto;
            color: white;
            max-width: 30rem;
        }

        &__text {
            font-weight: 100;
            color: white;
            font-size: 2rem;

        }

    }

    &__footnote {
        max-width: 80%;
        padding: 5rem 0;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-weight: 100;

        &.footer__kenos {
            padding-bottom: 10rem;
        }

    }
}

#gaussian-blur {

    &__1 {
        width: 50%;
        height: 40%;
        top: -20%;
        right: -15%;
        position: absolute;
        border-radius: 100%;
        transform: skew(50deg, 0deg);
        filter: blur(20rem);
        background-color: #D9865B;
    }

    &__2 {
        width: 55%;
        height: 40%;
        right: -15%;
        bottom: 25%;
        position: absolute;
        border-radius: 100%;
        transform: skew(-20deg, 0deg);
        filter: blur(10rem);
        background-color: #003B4D;
        z-index: 1;
    }

}

.news {

    &__section__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__container {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 0 2rem 0;
        gap: 2rem;
    }
}