@use '../core/variables' as var;
@use '../core/shadows';
@use '../core/media-queries';

.partners__title {
    width: 100%;
    text-align: center;
    font-family: #{var.$primary-font};
    font-size: 6.5rem;
    color: white;
    font-weight: bold;
}

.partners__section {
    &.section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0 10vw;
        gap: 2.5rem;
        padding-top: 10rem;
    }

    &.section-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 20rem;
        margin: 15vh 10vw 20vh;
    }
}

#partners__dossier {
    @include shadows.gradient(#2486a4, 10px, 10px);

    p {
        text-align: center;
        font-size: 2rem;
    }
}

.partners__dossier__background {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 3.5rem;
    border-radius: 20px;
    padding: 5vh 5vw 8vh;
}

.partners__dossier__title {
    font-family: #{var.$primary-font};
    font-size: 3rem;
    background-image: linear-gradient(90deg, #ce8058, #2486a4);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;

    @include media-queries.desktop {
        font-size: 5rem;
    }
}

#partners__dossier_button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 7.5rem;
    padding: 1rem 3rem;
    border-radius: 20px;
    font-size: 2.5rem;
    color: white;
    background: linear-gradient(
            90deg,
            #ce8058 0%,
            #2486a4 33%,
            #ce8058 66%,
            #ce8058
        )
        0% / 300%;
    font-family: #{var.$primary-font};
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
        background: linear-gradient(
                90deg,
                #ce8058 0%,
                #2486a4 33%,
                #ce8058 66%,
                #ce8058
            )
            50% / 300%;
    }

    &:active {
        transition: all 0.1s;
        background: linear-gradient(
                90deg,
                #ce8058 0%,
                #2486a4 33%,
                #ce8058 66%,
                #ce8058
            )
            100% / 300%;
    }
}
