@use '../core/variables' as var;

.team {

    &__section {
        height: 100vh;
        background-color: black;

        &__content {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        &__subsystems-content {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        &.section__general {
            position: relative;
            height: 100vh;
            overflow: hidden;
        }

        &.section__1 {
            
            position: relative;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(.6rem);
                z-index: -1;
            }

        }

    }


}

.subsystems {

    &__title {
        display: flex;
        flex-direction: column;
        width: 80rem;
        color: white;

        h1 {
            font-family: var.$primary-font;
            font-weight: 100;
            letter-spacing: 1.5rem;
            font-size: 6rem;
            text-align: center;
        }

        &__line {
            width: 100%;
            height: .2rem;
            background-color: white;
        }

    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6rem;
        width: 80%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }

}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px); /* Ajusta el valor del desenfoque según tus preferencias */
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor alpha para la opacidad del fondo oscuro */
    z-index: 0;
}

.border-shadow {

    position: absolute;
    width: 3rem;
    height: 100%;
    filter: blur(4rem);

    &.left {
        background-color: rgba(217, 134, 91, 0.5);
        top: 0;
        left: 0;
    }

    &.right {
        background-color: rgba(0, 178, 255, 0.5);
        top: 0;
        right: 0;
    }

}
