.container {
    display: flex;
    flex-flow: row;
    border: 1px solid white;
}

.drag_and_drop {
    width: 3rem;
    border: 1px solid white;
}

.info {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 2rem 3rem;
    width: 100%;
}

.partner_name {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.remove_button {
    font-size: 3rem;
    font-weight: bold;
}

.partner_name_input {
    width: 100%;
}

.partner_webpage {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.partner_logo {
    display: flex;
    flex-flow: row;
    gap: 2rem;

    img {
        max-height: 7rem;
        width: auto;
        height: auto;
        color: red;
    }
}

.partner_logo_upload,
.partner_logo_url {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.partner_logo_select {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.parnter_logo_label_select {
    width: 6rem;
}

.partner_logo_size {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.partner_logo_size_input {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.partner_logo_label_size {
    width: 6rem;
}
