@use '../core/variables' as var;

.new {

    &__title {
        font-size: 2.5rem;
        font-weight: 100;
    }

    &__image {

        width: 36rem;
        height: 20rem;

        &.premium {
            position: relative;
            border-radius: 1rem;
            margin: 1rem 0;

            &::after {
                content: "";
                position: absolute;
                z-index: -100;
                background: linear-gradient(to right, #2486A4, #CE8058);
                inset: -0.4rem;
                filter: blur(.6rem);
                transition: all .3s ease-in-out;
            }

            &:hover::after {
                filter: blur(.8rem);
                inset: -0.8rem;
            }
        }

        &.gold {
            position: relative;
            border-radius: 1rem;
            background-image: url("#{var.$assets-dir}/media/gold-new.jpeg");
            margin: 1rem 0;

            &::after {
                content: "";
                position: absolute;
                z-index: -100;
                background: #DCA25D;
                inset: -0.4rem;
                filter: blur(.6rem);
                transition: all .3s ease-in-out;
            }

            &:hover::after {
                filter: blur(.8rem);
                inset: -0.8rem;
            }
        }

        &.silver {
            position: relative;
            border-radius: 1rem;
            background-image: url("#{var.$assets-dir}/media/silver-new.jpeg");
            margin: 1rem 0;

            &::after {
                content: "";
                position: absolute;
                z-index: -100;
                background: #746F6C;
                inset: -0.4rem;
                filter: blur(.6rem);
                transition: all .3s ease-in-out;
            }

            &:hover::after {
                filter: blur(.8rem);
                inset: -0.8rem;
            }
        }

    }

    &__footer {
        font-size: 1.5rem;
        font-weight: 100;

        &__container {
            width: 100%;
            display: flex;
            justify-content: end;
            gap: .5rem;

            img {
                max-width: 1rem;
            }

        }
    }

}