@use '../core/variables' as var;
@use 'sass:color';

.partners__tier {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 15rem;
    position: relative;

    &__title {
        width: 100%;
        font-family: #{var.$primary-font};
        text-align: center;

        p {
            font-size: 4rem;
            font-weight: 300;
            color: white;
        }

        h2 {
            transition: all 0.1s ease-in-out;
            font-size: 9rem;
            text-shadow:
                -2px -2px 0px black,
                -2px 2px 0px black,
                2px -2px 0px black,
                2px 2px 0px black,
                -7px 5px 10px currentColor, ;
        }

        &:hover {
            h2 {
                text-shadow:
                    -2px -2px 0px black,
                    -2px 2px 0px black,
                    2px -2px 0px black,
                    2px 2px 0px black,
                    -10px 7px 15px currentColor,
            }
        }
    }

    .blur__top {
        right: 110%;
        top: -20%;
        position: absolute;
        transform: rotate(25deg);
        filter: blur(20rem);
        width: 40rem;
        height: 60rem;
        border-radius: 100%;
        z-index: -1;
    }

    .blur__bottom {
        right: -37%;
        bottom: -35%;
        position: absolute;
        transform: rotate(30deg);
        filter: blur(20rem);
        width: 20vw;
        height: 40vw;
        border-radius: 100%;
        z-index: -1;
    }
}

.partners__tier__partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 5vw;
    color: white;

    a {
        transition: all 0.1s;
        padding: 2.5vw;
        margin: -2.5vw;

        &:hover {
            transform: scale(1.05);
        }
    }

}