.sidebar {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.sidebar__navigation {
    padding: 1rem 2rem;
    display: flex;
    flex-flow: column;
    gap: 5rem;
    width: fit-content;
}

.sidebar__navitem {
    width: 5rem;
    height: 5rem;
    border: white 1px solid;
}
