@use "../core/shadows";
@use "../core/variables" as var;

.titled-image-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
    align-items: center;

    &__title {
        text-align: center;
        font-size: 4rem;
        color: white;
        font: #{var.$primary-font};
        font-weight: 500;
    }

    &__image {
        margin: 1rem;

        &.orange-border {
            @include shadows.gradient(#ce8058);
        }

        &.blue-border {
            @include shadows.gradient(#2486a4);
        }

        &.multicolor-border {
            @include shadows.gradient(linear-gradient(300deg, #2486a4, #ce8058));
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}