@use "../core/shadows";
@use "../core/variables" as var;

.titled-image-box {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__title {
        text-align: center;
        font-size: 4rem;
        color: white;
        font-family: #{var.$primary-font};
        font-weight: 500;
    }

    &__image {

        width: 100%;

        &.orange-border {
            @include shadows.gradient(#ce8058);
        }

        &.blue-border {
            @include shadows.gradient(#2486a4);
        }

        &.multicolor-border {
            @include shadows.gradient(linear-gradient(300deg, #2486a4, #ce8058));
        }

        img {
            height: 100%;
            border-radius: 1rem;
        }
    }
}