@use '../core/variables' as variables;

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 4.2rem;
    font-family: variables.$secondary-font;
}

.navbar__logo {
    width: 6rem;
}

.navbar__links {
    color: white;
}

.navbar__links__list {
    display: flex;
    gap: 4.2rem;
}
