@use '../core/variables' as variables;
@use '../core//media-queries';

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4.2rem;
    font-family: variables.$secondary-font;
    transition: transform 0.2s;

    &--open {
        background-color: black;
    }

    &--hidden {
        transform: translateY(-100%);
    }

    &__logo {
        width: 4.5rem;
    }
}

.navbar__hamburger-icon {
    display: none;

    @include media-queries.mobile {
        display: block;
    }
}

.navbar__links {
    display: flex;
    align-items: center;
    gap: 4.2rem;
    color: white;
    text-align: center;

    @include media-queries.mobile {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 2.8rem;
        padding-bottom: 3rem;
        border-end-end-radius: 1rem;
    }

    &--open {
        display: flex;
        flex-direction: column;
        background-color: black;
    }

}